{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="container">
<div class="row mx-auto">
    <div class="col ">
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    <fieldset class="my-3">
        <legend>Coordonées</legend>
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.address) }}
    </fieldset>
    <fieldset class="my-3">
        <legend>Identifiants</legend>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    </fieldset>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary btn-lg my-3">Registrer</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
</section>
{% endblock %}
