<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('app_home')}}"><img src="assets/images/Logo.png" alt="Garage.G.Parrot Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link active" href="{{path('app_home')}}">Home
                <span class="visually-hidden">(current)</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('app_services') }}">Services</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{path('app_gallery_index')}}">Voitures d'occasion</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if app.user %}
                <li class="d-flex">
                    <a class="btn btn-primary my-2 my-sm-0" href="{{path('app_logout')}}" type="submit">Deconnexion</a>
                </li>
            {% else %}
                <li class="d-flex">
                    <a class="btn btn-primary my-2  mx-1 my-sm-0" href="{{path('app_login')}}" type="submit">Connexion</a>
                </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>