{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <a href="{{ path('app_home') }}" class="btn btn-primary">Retour</a>
    <div class="text-center m-2 p-3">
        <h1>Liste de marques</h1>
    </div>
    <section class="container mt-5" id="services"> 
        <div class="list-group">
            <ul>
                {% for brand in brands %}
                <li href="#" class="list-group-item list-group-item-action">{{ brand.name }}</li>
                <a href="{{ path('modify', { id: brand.id}) }}" class="btn btn-secondary my-2">Modifier</a>
                <a href="{{ path('delete', { id: brand.id}) }}" class="btn btn-warning my-2">supprimer</a>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ path('app_new_brand') }}" class="btn btn-primary">Ajouter une nouvelle marque</a>
        
</section>
{% endblock %}
