{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="text-center m-2 p-3">
        <h1>Tous nos Services</h1>
    </div>
    <section class="container mt-5" id="services"> 
    <div class="accordion" id="accordionParent">
        {% for service in services %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ service.id }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ service.id }}" aria-expanded="false" aria-controls="collapse{{ service.id }}">
                        {{ service.name }}
                    </button>
                </h2>
                <div id="collapse{{ service.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ service.id }}" data-bs-parent="#accordionParent">
                    <div class="accordion-body">{{ service.description }}</div>
                </div>
            </div>
        {% endfor %}
        
</section>
{% endblock %}
