{% extends 'base.html.twig' %}

{% block title %}Hello {{title}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section>
    <div class="text-center mt-3 py-3">
        <h1>Voitures d'Occasion </h1>
    </div>
    <div class="container d-flex">
        <div class="row">
            {% for car in cars %}
            <div class="col px-3 py-3">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card {{ car.name }}</h5>
                        <ul class="card-text">
                            <li>Année :{{ car.carYear }}</li>
                            <li>{{ car.brand.name }}</li>
                            <li>{{ car.km }} km</li>
                            <li>{{ car.fuel.name }}</li>
                            <li>Transmission : {{ car.transmission.name }}</li>
                        </ul>
                        <a href="{{ path('app_gallery_details',{id: car.id}) }}" class="btn btn-primary mx-auto">Plus d'information</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
